.p1{
  background-image: url(../images/background/bg1.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  margin-bottom: 2%;
}
#logo{
  margin-left: 47%;
  margin-bottom: 9%;
  margin-top: 11%;
}
#s1{
  text-align: center;
  font-size: 38px;

}
#s2{
  text-align: center;
  font-size: 38px;

}
#s3{
  text-align: center;
  font-size: 24px;
}
#mouse{
  margin-left: 50%;
  margin-bottom: 7%;
}
.abt{
  text-align: center;
}
.p2{
  background-image: url(../images/background/bg2.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}
#se1{
  text-align: center;
}
#se2{
  text-align: center;
}
#se3{
  text-align: center;
}
